In [29]:
import pandas as pd

In [30]:
df = pd.read_excel('company data.xlsx', sheet_name=None)

In [31]:
visitors_df = df['Visitors data']
products_df = df['Products'].set_index('Product id')
cities_df = df['Cities'].set_index('City id')
channels_df = df['Traffic channels'].set_index('Channel id')
pricing_plans_df = df['Pricing plans'].set_index('Pricing plan id')
prices_df = df['Prices']
prices_df = prices_df.set_index(prices_df.columns[0])

In [33]:
channels_df

               Channel
Channel id
1           Google SEO
2           Google Ads
3                 Bing
4             Facebook
5            Instagram
6              Twitter

In [34]:
visitors_df["Channel"] = visitors_df["Channel id"].map(channels_df["Channel"])
visitors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visitor id         1500 non-null   int64
 1   Channel id         1500 non-null   int64
 2   Device type        1500 non-null   object
 3   Bought             1500 non-null   int64
 4   Order id           1500 non-null   int64
 5   Product id         1500 non-null   int64
 6   Pricing plan id    1500 non-null   int64
 7   City id            1500 non-null   int64
 8   Day of week (num)  1500 non-null   int64
 9   Day of week        1500 non-null   object
 10  Channel            1498 non-null   object
dtypes: int64(8), object(3)
memory usage: 129.0+ KB

In [35]:
visitors_df["Products"] = visitors_df["Product id"].map(products_df["Product"])
visitors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visitor id         1500 non-null   int64
 1   Channel id         1500 non-null   int64
 2   Device type        1500 non-null   object
 3   Bought             1500 non-null   int64
 4   Order id           1500 non-null   int64
 5   Product id         1500 non-null   int64
 6   Pricing plan id    1500 non-null   int64
 7   City id            1500 non-null   int64
 8   Day of week (num)  1500 non-null   int64
 9   Day of week        1500 non-null   object
 10  Channel            1498 non-null   object
 11  Products           1500 non-null   object
dtypes: int64(8), object(4)
memory usage: 140.8+ KB

In [36]:
visitors_df["Pricing Plan"] = visitors_df["Pricing plan id"].map(pricing_plans_df["Pricing plan"])
visitors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visitor id         1500 non-null   int64
 1   Channel id         1500 non-null   int64
 2   Device type        1500 non-null   object
 3   Bought             1500 non-null   int64
 4   Order id           1500 non-null   int64
 5   Product id         1500 non-null   int64
 6   Pricing plan id    1500 non-null   int64
 7   City id            1500 non-null   int64
 8   Day of week (num)  1500 non-null   int64
 9   Day of week        1500 non-null   object
 10  Channel            1498 non-null   object
 11  Products           1500 non-null   object
 12  Pricing Plan       1500 non-null   object
dtypes: int64(8), object(5)
memory usage: 152.5+ KB

In [37]:
visitors_df['City'] = visitors_df['City id'].map(cities_df['City'])
visitors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Visitor id         1500 non-null   int64
 1   Channel id         1500 non-null   int64
 2   Device type        1500 non-null   object
 3   Bought             1500 non-null   int64
 4   Order id           1500 non-null   int64
 5   Product id         1500 non-null   int64
 6   Pricing plan id    1500 non-null   int64
 7   City id            1500 non-null   int64
 8   Day of week (num)  1500 non-null   int64
 9   Day of week        1500 non-null   object
 10  Channel            1498 non-null   object
 11  Products           1500 non-null   object
 12  Pricing Plan       1500 non-null   object
 13  City               1500 non-null   object
dtypes: int64(8), object(6)
memory usage: 164.2+ KB