In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/riodev1310/rio_datasets/refs/heads/main/titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# **Xử lý dữ liệu**

In [8]:
median_age = df["Age"].median() 
df["Age"] = df["Age"].fillna(median_age) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
mode_cabin = df["Cabin"].mode()[0]
df["Cabin"] = df["Cabin"].fillna(mode_cabin) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
mode_embarked = df["Embarked"].mode()[0]
df["Embarked"] = df["Embarked"].fillna(mode_embarked) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# **Chuyển kiểu dữ liệu**

In [15]:
df = df.astype({
    col: "string" for col in df.select_dtypes(include="object").columns
})

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    string
 4   Sex          891 non-null    string
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    string
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    string
 11  Embarked     891 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 83.7 KB

# **Pandas Query**

### Truy vấn theo cột

In [21]:
df_personal_info = df[["Name", "Age", "Sex"]] 
df_personal_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    891 non-null    string
 1   Age     891 non-null    float64
 2   Sex     891 non-null    string
dtypes: float64(1), string(2)
memory usage: 21.0 KB

### Truy vấn theo điều kiện

In [26]:
# Cách 1
df_young = df.query('Age < 25') 
df_young.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 887
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  278 non-null    int64
 1   Survived     278 non-null    int64
 2   Pclass       278 non-null    int64
 3   Name         278 non-null    string
 4   Sex          278 non-null    string
 5   Age          278 non-null    float64
 6   SibSp        278 non-null    int64
 7   Parch        278 non-null    int64
 8   Ticket       278 non-null    string
 9   Fare         278 non-null    float64
 10  Cabin        278 non-null    string
 11  Embarked     278 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 28.2 KB

In [28]:
# Cách 2
df_young_2 = df[df["Age"] < 25] 
df_young_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 887
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  278 non-null    int64
 1   Survived     278 non-null    int64
 2   Pclass       278 non-null    int64
 3   Name         278 non-null    string
 4   Sex          278 non-null    string
 5   Age          278 non-null    float64
 6   SibSp        278 non-null    int64
 7   Parch        278 non-null    int64
 8   Ticket       278 non-null    string
 9   Fare         278 non-null    float64
 10  Cabin        278 non-null    string
 11  Embarked     278 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 28.2 KB

### Điều kiện gộp

In [31]:
# Cách 1
df_middle_age = df.query("30 <= Age <= 40")
df_middle_age.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 1 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  180 non-null    int64
 1   Survived     180 non-null    int64
 2   Pclass       180 non-null    int64
 3   Name         180 non-null    string
 4   Sex          180 non-null    string
 5   Age          180 non-null    float64
 6   SibSp        180 non-null    int64
 7   Parch        180 non-null    int64
 8   Ticket       180 non-null    string
 9   Fare         180 non-null    float64
 10  Cabin        180 non-null    string
 11  Embarked     180 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 18.3 KB

In [39]:
# Cách 2
df_middle_age2 = df[(df["Age"] >= 30) & (df["Age"] <= 40)] 
df_middle_age2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 1 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  180 non-null    int64
 1   Survived     180 non-null    int64
 2   Pclass       180 non-null    int64
 3   Name         180 non-null    string
 4   Sex          180 non-null    string
 5   Age          180 non-null    float64
 6   SibSp        180 non-null    int64
 7   Parch        180 non-null    int64
 8   Ticket       180 non-null    string
 9   Fare         180 non-null    float64
 10  Cabin        180 non-null    string
 11  Embarked     180 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 18.3 KB

In [47]:
df_male = df.query("Sex == 'male'")
df_male.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  577 non-null    int64
 1   Survived     577 non-null    int64
 2   Pclass       577 non-null    int64
 3   Name         577 non-null    string
 4   Sex          577 non-null    string
 5   Age          577 non-null    float64
 6   SibSp        577 non-null    int64
 7   Parch        577 non-null    int64
 8   Ticket       577 non-null    string
 9   Fare         577 non-null    float64
 10  Cabin        577 non-null    string
 11  Embarked     577 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 58.6 KB

In [73]:
df_young_male = df.query("Sex == 'male' & Age >= 30")
df_young_male.info()

<class 'pandas.core.frame.DataFrame'>
Index: 216 entries, 4 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  216 non-null    int64
 1   Survived     216 non-null    int64
 2   Pclass       216 non-null    int64
 3   Name         216 non-null    string
 4   Sex          216 non-null    string
 5   Age          216 non-null    float64
 6   SibSp        216 non-null    int64
 7   Parch        216 non-null    int64
 8   Ticket       216 non-null    string
 9   Fare         216 non-null    float64
 10  Cabin        216 non-null    string
 11  Embarked     216 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 21.9 KB

### Truy vấn tên theo điều kiện

In [58]:
df_mr = df[df["Name"].str.contains("Mr", na=False)] 
df_mr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 647 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  647 non-null    int64
 1   Survived     647 non-null    int64
 2   Pclass       647 non-null    int64
 3   Name         647 non-null    string
 4   Sex          647 non-null    string
 5   Age          647 non-null    float64
 6   SibSp        647 non-null    int64
 7   Parch        647 non-null    int64
 8   Ticket       647 non-null    string
 9   Fare         647 non-null    float64
 10  Cabin        647 non-null    string
 11  Embarked     647 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 65.7 KB

# Đổi tên cột

In [61]:
columns = {
    "PassengerId": "Passenger ID",
    "Pclass": "Premium class"
}

In [63]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [65]:
df_rename = df.rename(columns, axis="columns")
df_rename.columns

Index(['Passenger ID', 'Survived', 'Premium class', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [67]:
df_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Passenger ID   891 non-null    int64
 1   Survived       891 non-null    int64
 2   Premium class  891 non-null    int64
 3   Name           891 non-null    string
 4   Sex            891 non-null    string
 5   Age            891 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    string
 9   Fare           891 non-null    float64
 10  Cabin          891 non-null    string
 11  Embarked       891 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 83.7 KB

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    string
 4   Sex          891 non-null    string
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    string
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    string
 11  Embarked     891 non-null    string
dtypes: float64(2), int64(5), string(5)
memory usage: 83.7 KB

In [ ]:
df_rename.to_csv("")