# **Bước 1: cài đặt thư viện pandas**

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

Dataset link: https://raw.githubusercontent.com/riodev1310/rio_datasets/refs/heads/main/preprocessing_data.csv

/Users/vietannguyen/datasets/preprocessing_data.csv

# Đọc file csv

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/riodev1310/rio_datasets/refs/heads/main/preprocessing_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             122 non-null    int64
 1   Age                     122 non-null    int64
 2   Gender                  122 non-null    object
 3   Item Purchased          122 non-null    object
 4   Category                122 non-null    object
 5   Purchase Amount (USD)   109 non-null    float64
 6   Location                122 non-null    object
 7   Size                    122 non-null    object
 8   Color                   122 non-null    object
 9   Season                  122 non-null    object
 10  Review Rating           109 non-null    float64
 11  Subscription Status     122 non-null    object
 12  Shipping Type           122 non-null    object
 13  Discount Applied        122 non-null    object
 14  Promo Code Used         122 non-null    object
 15  Previous Purchases      122 non-null    int64
 16  Payment Method          122 non-null    object
 17  Frequency of Purchases  122 non-null    object
dtypes: float64(2), int64(3), object(13)
memory usage: 17.3+ KB

# Lấy ra list các cột trong dataset

In [8]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

# Lấy giá trị của một cột bất kỳ

In [10]:
df["Item Purchased"]

0          Coat
1         Shoes
2      Backpack
3         Jeans
4          Coat
         ...
117       Shoes
118       Scarf
119      Gloves
120       Jeans
121       Scarf
Name: Item Purchased, Length: 122, dtype: object

In [12]:
df["Item Purchased"].unique()

array(['Coat', 'Shoes', 'Backpack', 'Jeans', 'Handbag', 'Socks',
       'Sandals', 'Pants', 'Belt', 'Hoodie', 'T-shirt', 'Sunglasses',
       'Hat', 'Jacket', 'Shorts', 'Scarf', 'Sweater', 'Shirt', 'Skirt',
       'Dress', 'Blouse', 'Boots', 'Jewelry', 'Gloves'], dtype=object)

# **Bước 2: Xử lý dữ liệu**

In [14]:
df.isnull().any()

Customer ID               False
Age                       False
Gender                    False
Item Purchased            False
Category                  False
Purchase Amount (USD)      True
Location                  False
Size                      False
Color                     False
Season                    False
Review Rating              True
Subscription Status       False
Shipping Type             False
Discount Applied          False
Promo Code Used           False
Previous Purchases        False
Payment Method            False
Frequency of Purchases    False
dtype: bool

In [16]:
# Lấy ra giá trị lớn nhất trong một cột
df["Purchase Amount (USD)"].max()

98.0

In [18]:
# Lấy ra giá trị nhỏ nhất trong một cột
df["Purchase Amount (USD)"].min()

20.0

In [20]:
# Lấy ra giá trị trung bình trong một cột
df["Purchase Amount (USD)"].mean()

61.00917431192661

In [22]:
# Lấy ra giá trị trung vi trong một cột
df["Purchase Amount (USD)"].median()

60.0

In [24]:
df["Item Purchased"].mode()[0]

'Shoes'

# Xử lý cột Purchase amount (USD)

In [21]:
# Lấy ra giá trị trung bình của cột 
purchase_amount_mean =  df["Purchase Amount (USD)"].mean()  
# Fill vào những giá trị null bằng giá trị trung bình của cột 
df["Purchase Amount (USD)"] = df["Purchase Amount (USD)"].fillna(purchase_amount_mean)  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             122 non-null    int64
 1   Age                     122 non-null    int64
 2   Gender                  122 non-null    object
 3   Item Purchased          122 non-null    object
 4   Category                122 non-null    object
 5   Purchase Amount (USD)   122 non-null    float64
 6   Location                122 non-null    object
 7   Size                    122 non-null    object
 8   Color                   122 non-null    object
 9   Season                  122 non-null    object
 10  Review Rating           109 non-null    float64
 11  Subscription Status     122 non-null    object
 12  Shipping Type           122 non-null    object
 13  Discount Applied        122 non-null    object
 14  Promo Code Used         122 non-null    object
 15  Previous Purchases      122 non-null    int64
 16  Payment Method          122 non-null    object
 17  Frequency of Purchases  122 non-null    object
dtypes: float64(2), int64(3), object(13)
memory usage: 17.3+ KB

In [12]:
# Tính lấy ra giá trị trung bình của từng category 
category_avg = df.groupby('Category')['Purchase Amount (USD)'].transform('mean')
category_avg

0      61.363636
1      65.214286
2      61.333333
3      59.458333
4      61.363636
         ...
117    65.214286
118    61.333333
119    61.333333
120    59.458333
121    61.333333
Name: Purchase Amount (USD), Length: 122, dtype: float64

In [10]:
df["Purchase Amount (USD)"]

0      37.0
1      75.0
2      90.0
3       NaN
4      56.0
       ...
117    74.0
118    29.0
119    51.0
120    28.0
121     NaN
Name: Purchase Amount (USD), Length: 122, dtype: float64

In [44]:
# Fill missing value 
df.fillna({'Purchase Amount (USD)': category_avg}, inplace=True)
df["Purchase Amount (USD)"]

0      37.000000
1      75.000000
2      90.000000
3      59.458333
4      56.000000
         ...
117    74.000000
118    29.000000
119    51.000000
120    28.000000
121    61.333333
Name: Purchase Amount (USD), Length: 122, dtype: float64

In [41]:
# Lấy ra giá trị trung bình của cột 
review_rating_mean =  df["Review Rating"].mean()  
# Fill vào những giá trị null bằng giá trị trung bình của cột 
df["Review Rating"] = df["Review Rating"].fillna(review_rating_mean)   
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             122 non-null    int64
 1   Age                     122 non-null    int64
 2   Gender                  122 non-null    object
 3   Item Purchased          122 non-null    object
 4   Category                122 non-null    object
 5   Purchase Amount (USD)   122 non-null    float64
 6   Location                122 non-null    object
 7   Size                    122 non-null    object
 8   Color                   122 non-null    object
 9   Season                  122 non-null    object
 10  Review Rating           122 non-null    float64
 11  Subscription Status     122 non-null    object
 12  Shipping Type           122 non-null    object
 13  Discount Applied        122 non-null    object
 14  Promo Code Used         122 non-null    object
 15  Previous Purchases      122 non-null    int64
 16  Payment Method          122 non-null    object
 17  Frequency of Purchases  122 non-null    object
dtypes: float64(2), int64(3), object(13)
memory usage: 17.3+ KB

# Check oulier

In [43]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,122.000000,122.000000,122.000000,122.000000,122.000000
mean,61.500000,43.704918,61.009174,3.688991,25.918033
std,35.362409,15.782975,22.343115,0.665978,14.660111
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,31.250000,30.250000,42.000000,3.200000,14.000000
50%,61.500000,41.000000,61.009174,3.688991,25.500000
75%,91.750000,58.750000,81.750000,4.100000,38.750000
max,122.000000,70.000000,98.000000,5.000000,50.000000

# **Bước 3: Xử lý kiểu dữ liệu**

In [46]:
df["Gender"] = df["Gender"].astype("string") 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             122 non-null    int64
 1   Age                     122 non-null    int64
 2   Gender                  122 non-null    string
 3   Item Purchased          122 non-null    object
 4   Category                122 non-null    object
 5   Purchase Amount (USD)   122 non-null    float64
 6   Location                122 non-null    object
 7   Size                    122 non-null    object
 8   Color                   122 non-null    object
 9   Season                  122 non-null    object
 10  Review Rating           122 non-null    float64
 11  Subscription Status     122 non-null    object
 12  Shipping Type           122 non-null    object
 13  Discount Applied        122 non-null    object
 14  Promo Code Used         122 non-null    object
 15  Previous Purchases      122 non-null    int64
 16  Payment Method          122 non-null    object
 17  Frequency of Purchases  122 non-null    object
dtypes: float64(2), int64(3), object(12), string(1)
memory usage: 17.3+ KB

In [48]:
df = df.astype({
    col: "string" for col in df.select_dtypes(include="object").columns 
})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             122 non-null    int64
 1   Age                     122 non-null    int64
 2   Gender                  122 non-null    string
 3   Item Purchased          122 non-null    string
 4   Category                122 non-null    string
 5   Purchase Amount (USD)   122 non-null    float64
 6   Location                122 non-null    string
 7   Size                    122 non-null    string
 8   Color                   122 non-null    string
 9   Season                  122 non-null    string
 10  Review Rating           122 non-null    float64
 11  Subscription Status     122 non-null    string
 12  Shipping Type           122 non-null    string
 13  Discount Applied        122 non-null    string
 14  Promo Code Used         122 non-null    string
 15  Previous Purchases      122 non-null    int64
 16  Payment Method          122 non-null    string
 17  Frequency of Purchases  122 non-null    string
dtypes: float64(2), int64(3), string(13)
memory usage: 17.3 KB

In [52]:
df["Season"].unique()

<StringArray>
['8/19/2023',    'Winter',    'Summer',      'Fall',    'Spring', '3/21/2022',
 '5/31/2022', '9/13/2023', '12/1/2023', '4/12/2023']
Length: 10, dtype: string

In [56]:
seasons = {"Spring", "Summer", "Fall", "Winter"} 

def get_season(value): 
    if value in seasons:  # If already a season, return as is
        return value
    try:
        month, day, year = map(int, value.split('/'))  # Extract month and day
        if (month == 3 and day >= 21) or (4 <= month <= 5) or (month == 6 and day <= 20):
            return "Spring"
        elif (month == 6 and day >= 21) or (7 <= month <= 8 ) or (month == 9 and day <= 22):
            return "Summer"
        elif (month == 9 and day >= 23) or (10 <= month <= 11) or (month == 12 and day <= 20):
            return "Fall"
        else:
            return "Winter"
    except: # Error handling
        return "Unknown"  # Handle unexpected values

In [58]:
df["Season"] = df["Season"].apply(get_season)

In [60]:
df["Season"].unique()

array(['Summer', 'Winter', 'Fall', 'Spring'], dtype=object)

In [ ]:
df.to_csv("preprocessing_data_processed.csv")